<h3>{{ daily_aggr.title }}</h3>
<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Log level</th>
        <th style="text-align: right;">Count</th>
      </tr>
    </thead>
    <tbody>
      {% for line in daily_aggr.data | default(null) %}
        <tr>
          <td class="log-level-cell" style="background-color:{{ line.logLevelBGColor }}; color:{{line.logLevelFGColor}}">
            {{ line.logLevelText }}
          </td>
          <td style="text-align: right;"><strong>{{ line.logLevelCount }}</strong></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>