<h3>{{ daily_list.title }}</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Source ID</th>
    <th>Source type</th>
    <th>Log level</th>
    <th>Message</th>
  </tr>
  {% for log in daily_list.logItems | default(null) %}
    <tr>
      <td>{{ log.id }}</td>
  		<td>{{ log.logDate | format_datetime(locale='de',timezone='Europe/Zurich') }}</td>
      <td>{{ log.getSourceIDText }}</td>
      <td>{{ log.getSourceTypeText }}</td>
      <td style="background-color:{{ log.getLogLevelBGColorHTML }}; color:{{log.getLogLevelFGColorHTML}}">
        {{ log.getLogLevelText }}
      </td>
      <td>{{ log.message }}</td>
    </tr>
  {% endfor %}
</table>