{% trans_default_domain 'ParamBundle' %}
{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Parameter{% endtrans %}{% endblock %}

{% block body %}
	<div class='form-md'>
		<h3>{% trans %}Edit Parameter{% endtrans %}: {{ param.name}}</h3>
    {% if param.comment %}<small>{{ param.comment }}</small><br /><br />{% endif %}

		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button class="btn btn-success float-end">{% trans %}Save{% endtrans %}</button>
		{{ form_end(form) }}

		<a href="{{ path('svc_param_index') }}" class='btn btn-secondary float-start'>{% trans %}Back to list{% endtrans %}</a>
    <br />
    <br />
	</div>
{% endblock %}
