{% trans_default_domain 'ParamBundle' %}
{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Parameter overview{% endtrans %}
{% endblock %}

{% block body %}
	<h1><i class="fas fa-cog"></i>{% trans %}Parameter overview{% endtrans %}</h1>

	<table class="table">
		<thead>
			<tr>
				<th>{% trans %}Name{% endtrans %}</th>
				<th>{% trans %}Value{% endtrans %}</th>
				<th>{% trans %}Type{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for param in params %}
				<tr>
					<td>
						{{ param.name }}
						{% if param.comment %}<br/><small>{{ param.comment }}</small>{% endif %}
					</td>
					<td>{{ param.formatValue }}</td>
					<td>{{ param.TypeText }}</td>
					<td>
						<a href="{{ path('svc_param_edit', {'id': param.id}) }}">{% trans %}Edit{% endtrans %}</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">{% trans %}no records found{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
