{% trans_default_domain 'LogBundle' %}

<hr />


	<table class="table table-responsive table-sm ">
		<thead>
			<tr>
				<th scope="col">{% trans %}Date{% endtrans %}</th>
				<th scope="col">{% trans %}Country{% endtrans %}</th>
				<th scope="col">{% trans %}City{% endtrans %}</th>
				<th scope="col">{% trans %}Platform{% endtrans %}</th>
				<th scope="col">{% trans %}Browser{% endtrans %}</th>
				<th scope="col">{% trans %}Referer{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
      {% for log in logData.records %}
				<tr>
					<td>{{ log.logDate ? log.logDate|date('d.m.Y H:i:s') : '' }}</td>
					<td>{{ log.country }}</td>
					<td>{{ log.city }}</td>
					<td>{{ log.platform }}</td>
					<td>{{ log.browser }}</td>
					<td>{{ log.referer }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">{% trans %}no log records found.{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

  {{ logData.records.count }}