{% trans_default_domain 'LogBundle' %}
<div class="table-responsive">
  <table class='table table-sm table-bordered table-hover'>
    <tr><th>{% trans %}Date{% endtrans %}</th><td>{{ log.logDate | format_datetime() }}</td></tr>
    <tr><th>{% trans %}SourceID{% endtrans %}</th><td>{{ log.sourceIDText }} (ID: {{ log.sourceID }})</td></tr>
    <tr><th>{% trans %}SourceType{% endtrans %}</th><td>{{ log.sourceTypeText }} (Type: {{ log.sourceType }})</td></tr>
    <tr><th>{% trans %}Level{% endtrans %}</th><td>{{ log.logLevelText }}</td></tr>
    <tr><th>{% trans %}Message{% endtrans %}</th><td>{{ log.message }}</td></tr>
    <tr><th>{% trans %}Country{% endtrans %}</th><td>{{ log.country }}</td></tr>
    <tr><th>{% trans %}City{% endtrans %}</th><td>{{ log.city }}</td></tr>
    <tr><th>{% trans %}IP{% endtrans %}</th><td>{{ log.ip }}</td></tr>
    <tr><th>{% trans %}Platform{% endtrans %}</th><td>{{ log.platform }}</td></tr>
    <tr><th>{% trans %}Browser{% endtrans %}</th><td>{{ log.browser }}</td></tr>
    <tr><th>{% trans %}Referer{% endtrans %}</th><td>{{ log.referer }}</td></tr>
  </table>
</div>
