{% for log in logs %}
	<tr>
		<td>({{ log.id }}) - {{ log.sourceID }} - {{ log.sourceIDText }}</td>
		<td>{{ log.sourceTypeText }}</td>
		<td>{{ log.logLevelText }}</td>
		<td>{{ log.logDate | format_datetime() }}</td>
		<td>{{ log.country }}</td>
		<td>{{ log.message }}</td>
	</tr>
{% else %}
	<tr>
		<td colspan="4">{% trans %}no records found{% endtrans %}</td>
	</tr>
{% endfor %}
<input type="hidden" value="{{ dataContr.next }}" data-svcl-log-viewer-target="next" >
<input type="hidden" value="{{ dataContr.last }}" data-svcl-log-viewer-target="last" >
<input type="hidden" value="{{ dataContr.prev }}" data-svcl-log-viewer-target="prev" >
<input type="hidden" value="{{ dataContr.hidePrev }}" data-svcl-log-viewer-target="hidePrev" >
<input type="hidden" value="{{ dataContr.hideNext }}" data-svcl-log-viewer-target="hideNext" >