{% trans_default_domain 'LogBundle' %}
{% for log in logs | default(null) %}
	<tr
    {{ stimulus_controller('svc--util-bundle--modal', {
      url: path('svc_log_viewer_view_detail', {id: log.id}),
      title: "Log details" | trans,
      size: 'lg'
    }) }}
    {{ stimulus_action("svc--util-bundle--modal", "show", "click") }}
  >
    <td>
      {% if log.message %}
        <i class="fas fa-comments" title="Message"></i>
      {% endif %}
      {% if log.userName %}
        <i class="fas fa-user-tag" title="User info"></i>
      {% endif %}
      {% if log.bot %}
        <i class="fa-solid fa-microchip" title="Bot"></i>
      {% endif %}
      {% if log.mobile %}
        <i class="fa-solid fa-mobile-screen-button" title="Mobile"></i>
      {% endif %}
    </td>
    {% if not hideSourceCols | default(false) %}
      <td>{{ log.sourceIDText }}</td>
      <td>{{ log.sourceTypeText }}</td>
    {% endif %}

		<td class='{{ log.getLogLevelBootstrap5Class }}' style='text-align:center;'>{{ log.logLevelText }}</td>
		<td>{{ log.logDate | format_datetime() }}</td>
		<td>{{ log.country }}</td>
		<td>{{ log.city }}</td>

    {% if hideSourceCols | default(false) %}
      <td>{{ log.platform }}</td>
      <td>{{ log.browser }}</td>
      <td>{{ log.referer }}</td>
    {% endif %}

	</tr>
{% else %}
	<tr>
		<td colspan="4">{{ init | default(false) ? "Loading..." : "no log records found." | trans }}</td>
	</tr>
{% endfor %}
<input type="hidden" value="{{ dataContr.next | default(0) }}" {{ stimulus_target("svc--log-bundle--view", "next") }}>
<input type="hidden" value="{{ dataContr.last | default(0) }}" {{ stimulus_target("svc--log-bundle--view", "last") }}>
<input type="hidden" value="{{ dataContr.prev | default(0) }}" {{ stimulus_target("svc--log-bundle--view", "prev") }}>
<input type="hidden" value="{{ dataContr.hidePrev | default(0) }}" {{ stimulus_target("svc--log-bundle--view", "hidePrev") }}>
<input type="hidden" value="{{ dataContr.hideNext | default(0) }}" {{ stimulus_target("svc--log-bundle--view", "hideNext") }}>
<input type="hidden" value="{{ dataContr.count | default(0) }}" {{ stimulus_target("svc--log-bundle--view", "count") }}>
<input type="hidden" value="{{ dataContr.from | default(0) }}" {{ stimulus_target("svc--log-bundle--view", "from") }}>
<input type="hidden" value="{{ dataContr.to | default(0) }}" {{ stimulus_target("svc--log-bundle--view", "to") }}>
