{% trans_default_domain 'LogBundle' %}
<div
  {{ stimulus_controller("svc--log-bundle--view", {
    url: path('svc_log_viewer_view_data'),
    showFilter: showFilter | default(0),
    defaultSourceId: sourceID | default(''),
    defaultSourceType: sourceType | default(''),
    defaultLogLevel: logLevel | default(0),
    hideSourceCols: hideSourceCols | default(0)
  }) }}
>
  <form {{ stimulus_action("svc--log-bundle--view", "onSubmit") }}>
    <div class='table-responsive'>
      <table class="table table-hover table-sm">
        <thead>
        {% if showFilter | default(false) %}
          <tr>
            <td></td>
            <td>
              <div class="row">
                <div class="col">
                  {{ include("@SvcLog/log_viewer/_comparison.html.twig", {name: "sourceIDC"}) }}
                </div>
                <div class="col">
                  <input type="text" class="form-control form-control-sm" name="sourceID"
                         value="{{ sourceID | default('') }}" {{ stimulus_target("svc--log-bundle--view", "sourceID") }}
                         placeholder="ID">
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col">
                  {{ include("@SvcLog/log_viewer/_comparison.html.twig", {name: "sourceTypeC"}) }}
                </div>
                <div class="col">
                  <input type="text" class="form-control form-control-sm" name="sourceType"
                         value="{{ sourceType | default('') }}" {{ stimulus_target("svc--log-bundle--view", "sourceType") }}
                         placeholder="type">
                </div>
              </div>
            </td>
            <td>
              <div class="row">
                <div class="col">
                  {{ include("@SvcLog/log_viewer/_comparison.html.twig", {name: "logLevelC"}) }}
                </div>
                <div class="col">
                  <select class="form-select form-select-sm" name="logLevel"
                      {{ stimulus_target("svc--log-bundle--view", "logLevel") }}
                      {{ stimulus_action("svc--log-bundle--view", "onSubmit") }}
                  >
                    {% for key, level in levelArray %}
                      <option value="{{ key }}">{{ level }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </td>
            <td></td>
            <td>
              <input type="text" class="form-control form-control-sm" name="country"
                {{ stimulus_target("svc--log-bundle--view", "country") }}
                     placeholder="country">
            </td>
            <td>
              <input type='Submit' value='Go'>
            </td>
          </tr>
        {% endif %}

        <tr>
          <th scope="col"></th>
          {% if not hideSourceCols | default(false) %}
            <th scope="col">Source ID</th>
            <th scope="col">Source type</th>
          {% endif %}
          <th scope="col">{% trans %}Level{% endtrans %}</th>
          <th scope="col">{% trans %}Date{% endtrans %}</th>
          <th scope="col">{% trans %}Country{% endtrans %}</th>
          <th scope="col">{% trans %}City{% endtrans %}</th>
          {% if hideSourceCols | default(false) %}
            <th scope="col">{% trans %}Platform{% endtrans %}</th>
            <th scope="col">{% trans %}Browser{% endtrans %}</th>
            <th scope="col">{% trans %}Referer{% endtrans %}</th>
          {% endif %}
        </tr>
        </thead>
        <tbody {{ stimulus_target("svc--log-bundle--view", "content") }} >
        {{ include("@SvcLog/log_viewer/_table_rows.html.twig", {'init': true}) }}
        </tbody>
      </table>
    </div>
  </form>

  <small>
    {% trans %}Row{% endtrans %} <span {{ stimulus_target("svc--log-bundle--view", "fromDisplay") }} ></span>
    {% trans %}to{% endtrans %} <span {{ stimulus_target("svc--log-bundle--view", "toDisplay") }} ></span>
    {% trans %}from a total of{% endtrans %} <span {{ stimulus_target("svc--log-bundle--view", "countDisplay") }} ></span>
  </small>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item disabled" {{ stimulus_target("svc--log-bundle--view", "firstBtn") }}>
        <a class="page-link" title='{% trans %}First{% endtrans %}'
           {{ stimulus_action("svc--log-bundle--view", "first") }}>&laquo;</a>
      </li>
      <li class="page-item disabled" {{ stimulus_target("svc--log-bundle--view", "prevBtn") }}>
        <a class='page-link' title='{% trans %}Previous{% endtrans %}'
           {{ stimulus_action("svc--log-bundle--view", "prev") }}>&lsaquo;</a>
      </li>
      <li class="page-item" {{ stimulus_target("svc--log-bundle--view", "nextBtn") }}>
        <a class='page-link' title='{% trans %}Next{% endtrans %}'
           {{ stimulus_action("svc--log-bundle--view", "next") }}>&rsaquo;</a>
      </li>
      <li class="page-item" {{ stimulus_target("svc--log-bundle--view", "lastBtn") }}>
        <a class='page-link' title='{% trans %}Last{% endtrans %}'
           {{ stimulus_action("svc--log-bundle--view", "last") }}>&raquo;</a>
      </li>
    </ul>
  </nav>

</div>

{# include("@SvcUtil/elements/_modal.html.twig") #}
<twig:SvcUtil-ModalDialog />
